/* Устанавливаем box-sizing для всех элементов */
* {
  box-sizing: border-box;
}

/* Устанавливаем отступы и поля для body */
body {
  margin: 0;
  padding: 0;
}

/* Стили для контейнера карты */
.map {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили для SVG-элемента (карты) */
svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  fill: rgba(132, 132, 142, 0.477); /* Устанавливаем начальный цвет заливки с прозрачностью 30% */
}

/* Стили для областей (voivodeships) на карте */
.voivodeship {
  fill: none; /* Не заполняем области цветом */
  stroke: #000; /* Цвет границ областей */
  stroke-width: 5px; /* Ширина границ областей */
  cursor: pointer; /* Изменяем курсор при наведении на область */
  pointer-events: all; /* Разрешаем события указателя мыши для областей */
}

/* Стили для областей при наведении */
.voivodeship:hover {
  animation: highlightVoivodeship 2s linear infinite; /* Анимация при наведении на область */
}

/* Стили для фонового блока информации (info__bg) */
.info__bg {
  position: fixed; /* Фиксированное положение блока */
  top: 0; /* Размещение блока вверху */
  left: 0; /* Размещение блока слева */
  padding: 20px; /* Отступы блока */
  box-sizing: border-box; /* Устанавливаем box-sizing */
  width: 300px; /* Ширина блока */
  height: 400px; /* Высота блока */
  background: rgba(0, 0, 0, 0.5); /* Цвет фона блока с прозрачностью 50% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень блока */
  left: 50px; /* Отступ слева */
  bottom: calc(50% - 200px); /* Расположение блока по вертикали по центру */
  opacity: 0; /* Начальная непрозрачность блока */
  transition: 0.3s all; /* Плавный переход */
  pointer-events: none; /* Запрещаем события указателя мыши для блока */
  z-index: 10; /* Индекс поиска блока */
}

/* Стили для активного фонового блока информации */
.info__bg.active {
  pointer-events: all; /* Разрешаем события указателя мыши для активного блока */
  opacity: 1; /* Устанавливаем полную непрозрачность для активного блока */
  transition: 0.3s all; /* Плавный переход */
}

/* Стили для подсказки (tooltip) */
.tooltip {
  position: absolute; /* Абсолютное позиционирование подсказки */
  display: none; /* Начально скрываем подсказку */
  background-color: rgba(255, 255, 255, 0.9); /* Цвет фона подсказки с прозрачностью 90% */
  padding: 5px; /* Отступы подсказки */
  border-radius: 5px; /* Закругление углов подсказки */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Тень подсказки */
  z-index: 999; /* Индекс поиска подсказки */
}

/* Стили для заголовка информационного блока */
.info__title {
  font-size: 18px; /* Размер шрифта заголовка */
  font-weight: bold; /* Жирное начертание */
  margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для текста информационного блока */
.info__text {
  font-size: 16px; /* Размер шрифта текста */
}

/* Опциональные стили для подсвечиваемых участков */
.book {
  transition: fill 0.3s ease; /* Плавное изменение цвета */
}

/* Опциональные стили для подсвечиваемых участков при наведении */
.book:hover {
  fill: rgba(255, 184, 53, 0.858); /* Цвет заливки при наведении с прозрачностью 85.8% */
  opacity: 0.5; /* Непрозрачность при наведении */
}
