/* Основные стили для меню */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing:normal;
  color:#ffffff;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;

}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Анимация для основного меню */
@keyframes menuAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

#navbar li {
  display: inline-block;
  position: relative;
}
/* Стили для основного меню */
#navbar li:hover {
  animation: menuAnimation 0.5s forwards;
}

#navbar li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fafafa; /* цвет текста */
  font-weight: bold; /* Жирный шрифт */
  transition: color 0.3s; /* Плавное изменение цвета текста при наведении */
}

/* Анимация для выпадающего подменю */
@keyframes submenuAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
/* Стили для выпадающего подменю */
#navbar ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #b1b1b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar ul li {
  display: block;
}

/* Стили для активного пункта меню */
#navbar li:hover > a {
  color: #000000; /* Изменяем цвет текста при наведении */
}

/* Стили для выпадающего подменю */
#navbar li:hover ul {
  display: block;
  animation: submenuAnimation 0.5s forwards;
}



/* Стили для главного меню */
#main-nav {
  background-color: #a3a2a2;
}

#main-nav #navbar li {
  border-right: 1px solid #666;
}

#main-nav #navbar li:last-child {
  border-right: none;
}

#main-nav #navbar li a:hover {
  background-color: #666;
}
/* Стили для основного контента */
#main-content {
  display: flex;
}

.content-block {
  flex: 1;
  padding: 20px;
}
/* Стили для списка */
.content-block ul {
  list-style: none;
  padding: 0;
}

.content-block ul li {
  border: 1px solid #ccc; /* Рамка вокруг элемента списка */
  border-radius: 5px; /* Закругленные углы рамки */
  margin-bottom: 10px; /* Отступ между элементами списка */
  padding: 10px; /* Внутренний отступ вокруг текста */
}

.content-block ul li p {
  margin: 0; /* Убираем отступы вокруг абзацев */
}

.content-block img {
  max-width: 100%;
  height: auto;
}

/* Стили для футера */
#main-footer {
  background-color: #ccc; /* Серый цвет фона */
  padding: 20px;
}

#main-footer ul {
  list-style: none;
  padding: 0;
}

#main-footer ul li {
  display: inline;
  margin-right: 10px;
}

#main-footer ul li:last-child {
  margin-right: 0;
}
/* Стили для основного контента */
#main-content {
  display: flex;
  color: #000000;
  margin-top: 5px; /* Расстояние между основным контентом и текстовым блоком */
  text-align: left;
  padding-left: 30px; /* Отступ слева */
}

.content-block {
  flex: 1;
  padding: 20px;
}

.content-block img {
  max-width: 100%;
  height: auto;
}

/* Стили для текстового блока */
#text-block {
  display: flex;
  color: #000000;
  gap: 100px; /* Расстояние между блоками */
  text-align: left;
  margin: 0 20px; /* Отступы справа и слева */
}

.content-box {
  flex: 1;
  background-color: #f0f0f0; /* Светло-серый цвет фона */
  border: 1px solid #000000; /* Черный бардюр */
  border-radius: 10px; /* Закругленные края */
  padding: 5px;
  width: 180px; /* Ширина блоков */
  height: 180px;
  margin: 0 10px; /* Отступы справа и слева */
}

.content-box p {
  margin: 0; /* Убираем отступы для абзацев внутри блока */
}


#text-block {
  margin-top: 20px; /* Добавленное расстояние сверху */
}
#main-content {
  margin-bottom: 20px; /* Добавляем отступ снизу */
}



.content-block img {
  max-width: 100%;
  height: auto;
  max-height: 350px; /* ограничиваем высоту фото до 300px */
}


/* Стили для футера */
.footer-menu {
  display: flex;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #a3a2a2;
  padding: 20px;
  margin-top: 20px; /* Добавляем отступ сверху */
}

.footer-menu .footer-section {
  flex: 1; /* Добавляем равномерное распределение пространства */
}

.footer-menu .footer-section p {
  margin: 5px 0; /* Добавляем небольшой отступ между пунктами */
}

.logo {
  text-align: center;
}

.logo p {
  font-weight: bold;
  font-size: 24px;
  border: 1px solid #000000; /* Обводка */
  padding: 5px; 
  border-radius: 20px;
}

#language-test-submenu {
  display: none; /* По умолчанию выпадающее меню скрыто */
  position: absolute; /* Позиционируем абсолютно относительно родительского элемента */
  background-color: #fff; /* Цвет фона выпадающего меню */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Тень для эффекта всплывания */
}

#language-test:hover #language-test-submenu {
  display: block; /* При наведении на пункт меню, выпадающее меню становится видимым */
}

#language-test-submenu li {
  display: block;
}

#language-test-submenu a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

#language-test-submenu a:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении на пункт меню */
}




.table-container {
  color: #000000;
  padding: 10px;
  width: 80%; /* Ширина контейнера таблицы */
  margin: 0 auto; /* Центрирование по горизонтали */
}

table {
  width: 100%; /* Ширина таблицы */
  border-collapse: collapse; /* Слияние границ ячеек */
}

td {
  border: 1px solid #000; /* Граница ячеек */
  padding: 8px; /* Внутренний отступ в ячейках */
}
.first-column {
  width: 180px; /* Устанавливаем ширину первого столбца */
}




/* Стили для содержимого страницы Уроки */
.lesson-content {
  max-width: 800px; /* Максимальная ширина содержимого */
  margin: 0 auto; 
  padding: 20px; /* Внутренние отступы */
  color: #000000; /* Цвет текста */
}

.lesson-content h1 {
  font-size: 32px; /* Размер заголовка */
  margin-bottom: 20px; /* Отступ снизу */
}

.lesson-content h2 {
  font-size: 24px; /* Размер заголовка */
  margin-top: 30px; /* Отступ сверху */
  margin-bottom: 15px; /* Отступ снизу */
}

.lesson-content p {
  font-size: 18px; /* Размер текста */
  line-height: 1.5; /* Межстрочный интервал */
  margin-bottom: 15px; /* Отступ снизу */
}

.lesson-content ul {
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
}

.lesson-content li {
  font-size: 18px; /* Размер текста */
  margin-bottom: 10px; /* Отступ снизу */
}

.lesson-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #d4d3d3;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавное изменение цвета фона и размера кнопки */
}

.lesson-button:hover {
  background-color: #b9b8b8; /* Изменение цвета фона при наведении */
  animation: shakeButton 0.3s ease infinite; /* Применяем анимацию тряски при наведении */
}

@keyframes shakeButton {
  0% {
    transform: rotate(0deg); /* Начальное положение - без поворота */
  }
  25% {
    transform: rotate(5deg); /* Поворот на небольшой угол в одном направлении */
  }
  50% {
    transform: rotate(-5deg); /* Поворот на небольшой угол в другом направлении */
  }
  75% {
    transform: rotate(3deg); /* Снова небольшой поворот в одном направлении */
  }
  100% {
    transform: rotate(0deg); /* Возвращаемся к исходному положению */
  }
}





.language-buttons button {
  padding: 10px 20px; /* Поля вокруг текста кнопки */
  margin: 10px; /* Отступ между кнопками */
  border: 2px solid #ccc; /* Толщина и цвет рамки */
  border-radius: 10px; /* Закругление углов */
  background-color: #eee; /* Цвет фона кнопки */
  color: #333; /* Цвет текста кнопки */
  font-size: 18px; /* Размер шрифта */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

.language-buttons button:hover {
  background-color: #ddd; /* Цвет фона при наведении */
}

.language-selection h2,
.test-description h3,
.test-description p,
.test-description ol,
.test-description ol li,
.test-description h4 {
  color: #000000; /* Цвет текста */
  text-align: left; /* Выравнивание текста по левой стороне */
  padding-left: 50px;
}

.test-description ol {
  list-style-type: none; /* Убираем нумерацию */
  padding-left: 10px;
}

.container {
  text-align: left; /* Выравнивание текста по левой стороне */
}

.question {
  color: #000000; /* Цвет текста */
  text-align: left; /* Выравнивание текста по левой стороне */
  padding-left: 50px;
  list-style-type: none; /* Убираем маркер */
}


/* Стили для кнопки "Казахский" */
.language-buttons a:nth-child(1) button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-buttons a:nth-child(1) button:hover {
  background-color: #e1e1e1;
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопки "Русский" */
.language-buttons a:nth-child(2) button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-buttons a:nth-child(2) button:hover {
  background-color: #e1e1e1;
  transform: scale(1.2) skewX(20deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопки "Английский" */
.language-buttons a:nth-child(3) button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-buttons a:nth-child(3) button:hover {
  background-color: #e1e1e1;
  transform: scale(1.1) skewY(10deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}



button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #d0d0d0;
  box-shadow: 0 0 10px rgba(217, 11, 11, 0.815);
}

button:active {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}




.book-list {
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на следующую строку */
  gap: 20px; /* Отступы между книгами */
}

.book-item {
  flex: 1 0 calc(25% - 20px); /* Распределяем пространство между элементами, вычитая отступы */
  border: 1px solid #616161; /* Рамка вокруг каждой книги */
  padding: 10px; /* Внутренние отступы */
  text-align: center; /* Выравнивание содержимого по центру */
  color: black; /* Цвет текста */
}

.book-item img {
  max-width: 100%;
  height: auto;
}

.book-item h2 {
  margin-top: 0;
}


.media-item {
    margin-top: 20px; /* Добавляем отступ сверху */
    margin-bottom: 20px;
    border: 1px solid black; /* Добавляем рамку для каждого блока */
    border-radius: 10px; /* Скругляем углы */
  }
  
  .media-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  .media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .media-content img {
    width: 200px; /* Ширина фото */
    height: auto; /* Автоматическая высота */
  }
  
  .media-content p {
    margin-top: 10px;
    color: black;
  }
  .video-content,
  .audio-content {
    display: flex;
    flex-direction: row; /* Располагаем элементы по горизонтали */
    justify-content: space-around; /* Равномерно распределяем элементы по горизонтали */
    margin: 20px 0; /* Добавляем отступ сверху и снизу */
  }
  
  .video-content .media-content,
  .audio-content .media-content {
    margin: 0 10px; /* Добавляем отступ между элементами */
  }
  
  .task-section {
    text-align: center; /* Центрируем текст по горизонтали */
  }
  
  .task-content {
    color: black; /* Черный цвет текста */
    margin: 0 auto; /* Центрируем контент по горизонтали */
    max-width: 600px; /* Максимальная ширина контента */
  }
  
  .task-content button {
    display: block; /* Располагаем кнопки одну под другой */
    width: 100%; /* Занимаем всю доступную ширину контейнера */
    margin: 10px auto; /* Отступы между кнопками и центрирование */
    padding: 10px 20px; /* Отступы внутри кнопок */
    background-color: #c2c2c2; /* Цвет фона кнопок */
    color: rgb(0, 0, 0); /* Цвет текста кнопок */
    border: 1; 
    border-radius: 5px; /* Скругляем углы кнопок */
    cursor: pointer; /* Устанавливаем курсор при наведении на кнопку */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
  }
  
  .task-content button:hover {
    background-color: #d7d7d7; /* Изменяем цвет фона при наведении */
  }
  
  



  .login-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c4c1c177;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button[type="submit"] {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #3a71d8;
  }
  
  .login-form a {
    color: #000000; /* черный цвет текста */
    text-decoration: none; /* убираем подчеркивание */
  }
  
  .login-form a:hover {
    text-decoration: underline; /* добавляем подчеркивание при наведении */
  }
  
.registration-form {
  max-width: 400px; /* Максимальная ширина формы */
  margin: 0 auto; /* Центрирование формы по горизонтали */
  padding: 20px; /* Внутренний отступ */
  background-color: #f9f9f9; /* Цвет фона формы */
  border-radius: 5px; /* Закругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

.registration-form h2 {
  margin-bottom: 20px; /* Отступ снизу заголовка */
  text-align: center; /* Выравнивание текста по центру */
  color: #000000; /* черный цвет текста */
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 90%; /* Ширина полей ввода */
  padding-right: 50px; /* Добавлен отступ справа */
  padding: 10px; /* Внутренний отступ */
  margin-bottom: 15px; /* Отступ снизу */
  border: 1px solid #ccc; /* Граница */
  border-radius: 3px; /* Закругленные углы */
}

.registration-form button[type="submit"] {
  width: 90%; /* Ширина кнопки */
  padding: 10px; /* Внутренний отступ */
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  border-radius: 3px; /* Закругленные углы */
  cursor: pointer; /* Курсор при наведении */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.registration-form button[type="submit"]:hover {
  background-color: #0056b3; /* Изменение цвета фона кнопки при наведении */
}


.svg-container {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
svg {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: -1;
}
#ball1 {
  fill: #ff0000; /* Red ball */
  animation: pulse1 5s infinite alternate;
}
#ball2 {
  fill: #00ff00; /* Green ball */
  animation: pulse2 4s infinite alternate;
}
#ball3 {
  fill: #0000ff; /* Blue ball */
  animation: pulse3 3s infinite alternate;
}
#ball4 {
  fill: #ffff00; /* Yellow ball */
  animation: pulse4 6s infinite alternate;
}
#ball5 {
  fill: #ff00ff; /* Purple ball */
  animation: pulse5 7s infinite alternate;
}
@keyframes pulse1 {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(2); }
  100% { opacity: 0; transform: scale(0); }
}
@keyframes pulse2 {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(2); }
  100% { opacity: 0; transform: scale(0); }
}
@keyframes pulse3 {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(2); }
  100% { opacity: 0; transform: scale(0); }
}
@keyframes pulse4 {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(2); }
  100% { opacity: 0; transform: scale(0); }
}
@keyframes pulse5 {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(2); }
  100% { opacity: 0; transform: scale(0); }
}

.svg1 {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.svg1 svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ball {
  animation: bounce 2s infinite alternate;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.svg-con, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(179, 173, 173);
}
.svg-con svg {
  width: 100%;
  height: 100%;
}
